a.hshare-large img {
    width: 15px;
    height: 15px;
}

a.hshare-medium img {
    width: 10px;
    height: 10px;
}

a.hshare-small img {
    width: 5px;
    height: 5px;
}

a.hshare-large:hover, a.hshare-large:visited, a.hshare-large:link, a.hshare-large:active, a.hshare-medium:hover, a.hshare-medium:visited, a.hshare-medium:link, a.hshare-medium:active, a.hshare-small:hover, a.hshare-small:visited, a.hshare-small:link, a.hshare-small:active {
    color: black;
    text-decoration: none;
    padding: 2px 2px 2px 2px;
}